div{

    border: 5px solid gold;
    background: teal;
    width: 100px;
    height: 100px;

}

/*
div:hover{
    transform: scale(2);
}
*/

div:hover{
    transform: rotate(65deg);
}

/*div:hover{
    transform: skew(45deg,20deg);
}*/

/*
div:hover{
    transform: translate(50px,50px);
}*/


a{ 
    display: block;
    width:100px;
    height:100px;
}